body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  margin: 0;
  padding: 0;
}

form  { 
  display: table;      
}

p { 
  display: table-row;  
}

label { 
  display: table-cell; 
  text-align: right;
}

input[type=text] { 
  display: table-cell;
  margin-left: 10px; 
}
